# bitwebd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.bitweb
host=127.0.0.1

#mainnet default
port=26332

#testnet default
#port=18332

#regtest default
#port=18443

#signet default
#port=38332

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=feaed5ca
genesis=cd0354f7b40ce9aff0b6141e6572e782e6ac2671063bd6858984c839fe33000a
input=/home/example/.bitweb/blocks

# testnet
#netmagic=1bcc0805
#genesis=765828115ef756680e3441c813fd5272a8b8638ebd532ea610c44efa784cc1e9
#input=/home/example/.bitweb/testnet3/blocks

# regtest
#netmagic=eab1a5de
#genesis=765828115ef756680e3441c813fd5272a8b8638ebd532ea610c44efa784cc1e9
#input=/home/example/.bitweb/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=1885bf80eaf27496db4c7db52ff1c8e66e3704296f69fde09d05de75d3b18561
#input=/home/example/.bitweb/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
